{% extends lang+"/admin/base.html" %}

{% block title %}User details{% endblock title %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('admin.users.users_list') }}">Users</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ selected_user.get_full_name }}</li>
  </ol>
</nav>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User details</h6>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {{ selected_user.get_full_name }}

            {% if selected_user.deleted %}<span class="badge badge-danger">Deleted</span>{% endif %}
            {% if selected_user.suspended %}<span class="badge badge-warning">Suspended</span>{% endif %}
        </h5>

        <ul class="card-text">
            <li><strong>Email:</strong> {{selected_user.email_address}}</li>
            <li><strong>Admin:</strong> {{selected_user.admin}}</li>
            <li><strong>Created:</strong> {{selected_user.created}}</li>
        </ul>

        <a href="{{ url_for('admin.users.user_edit_get', user_id=selected_user.get_id) }}" class="btn btn-primary btn-sm">Edit user</a>

        <a href="#" data-toggle="modal" data-target="#deleteUserModal" class="btn btn-danger btn-sm">
            {% if selected_user.deleted %}Undelete{% else %}Delete{% endif %} user
        </a>

        <a href="#" data-toggle="modal" data-target="#suspendUserModal" class="btn btn-warning btn-sm">
            {% if selected_user.suspended %}Unsuspend user{% else %}Suspend user{% endif %}
        </a>
    </div>
</div>

<!-- un/delete user modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">
                    {% if selected_user.deleted %}Undelete{% else %}Delete{% endif %} {{ selected_user.get_full_name }}
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{{ url_for('admin.users.user_delete_toggle', user_id=selected_user.get_id) }}">
                <input type="hidden" name="csrf" value="{{ csrf }}">

                <div class="modal-body">
                    Do you really want to
                    {% if selected_user.deleted %}un{% endif %}delete
                    user {{ selected_user.get_full_name }} ({{ selected_user.email_address }})?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">
                        {% if selected_user.deleted %}Undelete{% else %}Delete{% endif %} user
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end un/delete user modal -->

<!-- un/suspend user modal -->
<div class="modal fade" id="suspendUserModal" tabindex="-1" role="dialog" aria-labelledby="suspendUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="suspendUserModalLabel">
                    {% if selected_user.suspended %}Unsuspend{% else %}Suspend{% endif %} {{ selected_user.get_full_name }}
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{{ url_for('admin.users.user_suspend_toggle', user_id=selected_user.get_id) }}">
                <input type="hidden" name="csrf" value="{{ csrf }}">

                <div class="modal-body">
                    Do you really want to
                    {% if selected_user.suspended %}un{% endif %}suspend
                    user {{ selected_user.get_full_name }} ({{ selected_user.email_address }})?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning">
                        {% if selected_user.suspended %}Unsuspend{% else %}Suspend{% endif %} user
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end un/suspend user modal -->
{% endblock content %}
