{% extends lang+"/public/base.html" %}

{% block title %}Login with password{% endblock title %}

{% block content %}
<h1>Login with password</h1>

<div class="row">
    <div class="col-lg-6">
        <form method="post">
            <div class="form-group">
                <input type="email" class="form-control" id="emailInput" placeholder="Enter your email address" name="login-email" required>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter your password" name="login-password" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="row mt-4">
    <div class="col-lg-6">
        <small>
            Alternatively, login <a href="{{ url_for('public.auth.login') }}">with email magic link here</a>.
        </small>

        <br>

        <small>
            If you don't have an account yet, <a href="{{ url_for('public.auth.register') }}">register here</a>.
        </small>

        <br>

        <small>
            If you forgot your password, <a href="{{ url_for('public.auth.reset_password_enter_email') }}">reset it here</a>.
        </small>
    </div>
</div>
{% endblock content %}