{% extends lang+"/public/base.html" %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
<h1>Reset password</h1>

<p>Here you can either change your current password, or create your first password if you haven't got one already.</p>

<div class="row">
    <div class="col-lg-6">
        <form method="post">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter your NEW password" name="reset-password-new-password" required>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Repeat password" name="reset-password-repeat-password" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}
