{% extends lang+"/profile/base.html" %}

{% block title %}Change my email address{% endblock title %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('profile.main.my_details') }}">My profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change email address</li>
    </ol>
</nav>

<div class="container mt-4">
    <h1>Change my email address</h1>

    <p>
        <strong>Important:</strong> Changing your email address will delete your password and log you out on all
        devices (as a security measure).
    </p>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="card-text">

                <form method="post" action="{{ url_for('profile.main.change_email_post') }}">
                    <input type="hidden" name="csrf" value="{{ csrf }}">

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="emailField">Email address</label>
                                <input type="email" name="email-address" class="form-control" id="emailField" value="{{user.email_address}}">
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
