{% extends lang+"/profile/base.html" %}

{% block title %}Edit profile{% endblock title %}

{% block scripts %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock scripts %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('profile.main.my_details') }}">My profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<div class="container mt-4">
    <h1>Edit profile</h1>

    <div class="card shadow mb-4">
        <div class="card-body">
            <ul class="card-text">

                <form method="post" action="{{ url_for('profile.main.edit_profile_post') }}">
                    <input type="hidden" name="csrf" value="{{ csrf }}">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstNameField">First name</label>
                                <input type="text" name="first-name" class="form-control" id="firstNameField" value="{{user.first_name}}">
                            </div>

                            <div class="form-group">
                                <label for="lastNameField">Last name</label>
                                <input type="text" name="last-name" class="form-control" id="lastNameField" value="{{user.last_name}}">
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>

            </ul>
        </div>
    </div>
</div>
{% endblock content %}
