{% extends lang+"/emails/base.html" %}

{% block preheader %}(Re)set your password via this link.{% endblock preheader %}

{% block message %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    Hi there,
</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    You've requested a password reset link. Here it is:
    {{app_root_url}}/password-reset-token/{{password_reset_token}}
</p>
{% endblock message %}
